<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pando.tsoglanakos.mime_eng">
    <uses-feature android:name="android.hardware.screen.portrait"/>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon_preview"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/appicon_preview"
        android:supportsRtl="true"

        android:theme="@style/Theme.AppCompat.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MoviesGameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:multiprocess="true"
            android:largeHeap="true"
            android:process=":remote"/>
        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>